<h1><%= @today.strftime "%Y-%m-%d (%a)" %></h1>

<ul>
  <li><%= link_to "Items", items_path %></li>
  <li><%= link_to "Weekly Reservations", weeklies_path %></li>
  <li><%= link_to "Reservations", reservations_path %></li>
</ul>

<%= link_to "login", new_session_path unless @login_user %>
