<h1><%= @page_title %></h1>

<h2>Today's Resevation(s)</h2>
<%- if @reservations.empty? -%>
(N/A)
<%- else -%>
<%= render "shared/long_table_reservations" %>
<%- end -%>

<h2>Today + <%= @more_days %> days</h2>
<%- if @mores.empty? -%>
(N/A)
<%- else -%>
<%= render "shared/long_table_reservations", reservations: @mores %>
<%- end -%>

<h2>Lists</h2>
<ul>
  <li><%= link_to "Items", items_path %></li>
  <li><%= link_to "Weekly Reservations", weeklies_path %></li>
  <li><%= link_to "Reservations", reservations_path %></li>
</ul>
