<%- if flash[:alert] -%>
<p id="notice"><%= flash[:alert] -%></p>
<%- end -%>

<%= form_tag :session do %>
  <fieldset style="display:inline">
    <legend>login</legend>
    <table border="0">
      <tr>
        <td style="text-align:right"><%= label_tag :name, "name:" %></td>
        <td><%= text_field_tag :name, @name %></td>
      </tr>
      <tr>
        <td style="text-align:right"><%= label_tag :name, "password:" %></td>
        <td><%= password_field_tag :password %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= submit_tag "login" %></td>
      </tr>
    </table>
  </fieldset>
<% end %>
