<%- submit_label ||= "submit!" -%>
<h1><%= @page_title %></h1>

<%- if Group.all.empty? -%>
<p>nothing group yet.</p>
<p>please <= link_to "create new group", new_admin_group_path %>.<p>
<%- else -%>
  <%= form_for [:admin, @item] do |f| %>
<dl>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">group</label>
<%= render "shared/attach_errors", key: :group_id -%>
  </dt>
  <dd>
    <%- groups = Group.readonly.pluck(:name, :id) -%>
    <%- if groups.size > 1 -%>
    <%= f.select :group_id, groups, include_blank: true %>
    <%- else -%>
    <%= f.select :group_id, groups %>
    <%- end -%>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">name</label>
<%= render "shared/attach_errors", key: :name -%>
  </dt>
  <dd>
    <%= f.text_field :name, maxlength: 50 %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label>memo</label>
<%= render "shared/attach_errors", key: :memo -%>
  </dt>
  <dd>
    <%= f.text_area :memo, maxlength: 50, style: "width:20em;height:4em;" %>
  </dd>
</dl>
<div>
    <%= submit_tag submit_label %>
</div>
  <% end %>

<p class="desc-required"><label class="required"></label> is required.</p>
<%- end -%>
