<%- submit_label ||= "submit!" -%>
<h1><%= @page_title %></h1>

<%= form_for [:admin, @group] do |f| %>
  <%- errors = @errors -%>
<dl>
  <dt>
    <label class="required">name</label>
    <%- if errors -%>
      <%- errors[:name].each_with_index do |s,i| -%>
    <span class="error-message"><%= s %></span>
      <%- end -%>
    <%- end -%>
  </dt>
  <dd><%= f.text_field :name %></dd>
</dl>
<dl>
  <dt>
    <label>memo</label>
  </dt>
  <dd><%= f.text_area :memo, style: "width:20em;height:5em;" %></dd>
</dl>
<div>
  <%= submit_tag submit_label, class: "submit" %>
</div>
<% end %>

<p class="desc-required"><label class="required"></label> is required.</p>
