<%- submit_label ||= "submit!" -%>
<h1><%= @page_title %></h1>

<%= form_for [:admin, @group] do |f| %>
<dl>
  <dt>
    <label class="required">name</label>
<%= render "shared/attach_errors", key: :name -%>
  </dt>
  <dd><%= f.text_field :name, maxlength: 50 %></dd>
</dl>
<dl>
  <dt>
    <label>memo</label>
<%= render "shared/attach_errors", key: :memo -%>
  </dt>
  <dd><%= f.text_area :memo, maxlength: 50, style: "width:20em;height:5em;" %></dd>
</dl>
<div>
  <%= submit_tag submit_label, class: "submit" %>
</div>
<% end %>

<p class="desc-required"><label class="required"></label> is required.</p>
