<h1 style="display:inline"><%= @page_title %></h1>
<%= @item.memo if @item && @item.memo.present? -%>

<h2 style="margin-bottom: 0px"><span id="calendar-m"><%= @month %></span>, <span id="calendar-y"><%= @year %></span></h2>
<%- today ||= Date.today -%>
<nav><%= nav_prev @year, @month %> <%= nav_next @year, @month %></nav>
<%- if (today.year != @year) || (today.month != @month) -%>
<nav><%= link_to "go to this month", action: :year_month, year: today.year, month: today.month %></nav>
<%- end -%>

<table border="1" class="calendar" id="calendar"></table>

<%= render "shared/table_reservations", reservations: @reservations %>
