<%- submit_label ||= "submit!" -%>
<h1><%= @page_title %></h1>

<%- if Item.all.empty? -%>
<p>nothing item yet.</p>
  <%- if @login_user.try :admin? -%>
<p>please <%= link_to "create new item", new_admin_item_path %>.<p>
  <%- end -%>
<%- else -%>
  <%= form_for @rsv do |f| %>
<dl>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">item</label>
<%= render "shared/attach_errors", key: :item_id -%>
  </dt>
  <dd>
    <%= select_items_tag f, :item_id, @rsv.item_id %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">user</label>
<%= render "shared/attach_errors", key: :user -%>
  </dt>
  <dd>
    <%= f.text_field :user, maxlength: 50 %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">date</label>
<%= render "shared/attach_errors", key: :date -%>
  </dt>
  <dd>
    <%= f.text_field :date, maxlength: 10, class: "datepicker" %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">begin time</label>
<%= render "shared/attach_errors", key: [:begin_h, :begin_m] -%>
  </dt>
  <dd>
    <%= select_hm_tag f, :begin %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">end time</label>
<%= render "shared/attach_errors", key: [:end_h, :end_m] -%>
  </dt>
  <dd>
    <%= select_hm_tag f, :end %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">icon</label>
<%= render "shared/attach_errors", key: :icon -%>
  </dt>
  <%- m = /\A(\d+)\Z/.match @rsv.icon.to_s -%>
  <%- icon_number = m ? m[1].to_i : nil  -%>
  <%- marks = [9734] -%>
  <%- marks += [9825, 9826, 9828, 9831] -%>
  <%- marks += [9997, 9888] -%>
  <%- marks += [9832, 9872, 10048] -%>
  <dd>
    <%= select_icon_tag0 marks, icon_number %>
  </dd>
  <dd>
    <%= select_icon_tag1 f, marks, icon_number %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label>memo</label>
<%= render "shared/attach_errors", key: :memo -%>
  </dt>
  <dd>
    <%= f.text_area :memo, maxlength: 250, style: "width:20em;height:4em;" %>
  </dd>

</dl>
<div>
    <%= submit_tag submit_label %>
</div>
  <% end %>

<p class="desc-required"><label class="required"></label> is required.</p>
<%- end -%>
