<%- submit_label ||= "submit!" -%>
<h1><%= @page_title %></h1>

<%- if Item.all.empty? -%>
<p>nothing item yet.</p>
  <%- if @login_user.try :admin? -%>
<p>please <%= link_to "create new item", new_admin_item_path %>.<p>
  <%- end -%>
<%- else -%>
  <%= form_for @weekly do |f| %>
<dl>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">item</label>
<%= render "shared/attach_errors", key: :item_id -%>
  </dt>
  <dd>
    <%= select_items_tag f, :item_id, @weekly.item_id %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">user</label>
<%= render "shared/attach_errors", key: :user -%>
  </dt>
  <dd>
    <%= f.text_field :user, maxlength: 50 %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">begin date</label>
<%= render "shared/attach_errors", key: :date_begin -%>
  </dt>
  <dd>
    <%= f.text_field :date_begin, maxlength: 10, class: "datepicker" %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label>end date</label>
<%= render "shared/attach_errors", key: :date_end -%>
  </dt>
  <%- radio_name = "date_end_radio" -%>
  <dd>
    <label>
      <input type="radio" id="date_end_forever" name="<%= radio_name %>" value="0"<%= " checked" if @weekly.forever? -%>>
      forever
    </label>
  </dd>
  <dd>
    <input type="radio" id="date_end_setting" name="<%= radio_name %>" value="1"<%= " checked" unless @weekly.forever? -%>>
    <%= f.text_field :date_end, maxlength: 10, class: "datepicker" %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label>week of day</label>
  </dt>
  <dd id="wday">(by begin date)</dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">begin time</label>
<%= render "shared/attach_errors", key: [:begin_h, :begin_m] -%>
  </dt>
  <%- ah = [] %>
  <%- 8.upto(20) { |x| ah.push x } %>
  <%- am = %w(00 30) %>
  <dd>
    <%= f.select :begin_h, ah %> : <%= f.select :begin_m, am %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">end time</label>
<%= render "shared/attach_errors", key: [:end_h, :end_m] -%>
  </dt>
  <dd>
    <%= f.select :end_h, ah %> : <%= f.select :end_m, am %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">icon</label>
<%= render "shared/attach_errors", key: :icon -%>
  </dt>
  <%- m = /\A(\d+)\Z/.match @weekly.icon.to_s -%>
  <%- icon_number = m ? m[1].to_i : nil  -%>
  <%- marks = [9834, 9835, 9836] -%>
  <%- marks += [9825, 9826, 9828, 9831] -%>
  <%- marks += [9997, 9888] -%>
  <%- marks += [9832, 9872, 10048] -%>
  <%- marks_included = marks.include? icon_number  -%>
  <%- radio_name = "date_icon_radio" -%>
  <dd>
    <input type="radio" name="<%= radio_name %>" value="0"<%= " checked" if marks_included -%>>
    <select id="date_icon_list" name="date_icon_select" onChange="document.getElementsByName('<%= radio_name %>')[0].checked = true;">
      <%- marks.each do |x| -%>
        <%- z = (icon_number && (x == icon_number)) ? " selected" : nil -%>
      <option value="<%= x %>"<%= z %>>&#<%= x %>;</option>
      <%- end -%>
    </select>
  </dd>
  <dd>
    <input type="radio" name="<%= radio_name %>" value="1"<%= " checked" unless marks_included -%>>
    <%- args = { maxlength: 1, style: "width:2em;" } -%>
    <%- args[:value] = "" if marks_included || (icon_number && (! marks_included)) -%>
    <%- args[:onChange] = "document.getElementsByName('#{radio_name}')[1].checked = true;".html_safe -%>
    <%= f.text_field :icon, args %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label>memo</label>
<%= render "shared/attach_errors", key: :memo -%>
  </dt>
  <dd>
    <%= f.text_area :memo, maxlength: 50, style: "width:20em;height:4em;" %>
  </dd>
</dl>
<div>
    <%= submit_tag submit_label %>
</div>
  <% end %>

<p class="desc-required"><label class="required"></label> is required.</p>
<%- end -%>
