<%- submit_label ||= "submit!" -%>
<h1><%= @page_title %></h1>

<%- if Item.all.empty? -%>
<p>nothing item yet.</p>
  <%- if @login_user.try :admin? -%>
<p>please <%= link_to "create new item", new_admin_item_path %>.<p>
  <%- end -%>
<%- else -%>
  <%= form_for @weekly do |f| %>
<dl>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">item</label>
<%= render "shared/attach_errors", key: :item_id -%>
  </dt>
  <dd>
    <%- items = Item.readonly.pluck(:name, :group_id, :id) -%>
    <%- items.map! { |a| ["#{a[0]}@#{Group.find(a[1]).name}", a[2]] } -%>
    <%- if items.size > 1 -%>
    <%= f.select :item_id, items, include_blank: true %>
    <%- else -%>
    <%= f.select :item_id, items %>
    <%- end -%>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">user</label>
<%= render "shared/attach_errors", key: :user -%>
  </dt>
  <dd>
    <%= f.text_field :user, maxlength: 50 %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">week of day</label>
  </dt>
  <dd>
    ???
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">start date</label>
<%= render "shared/attach_errors", key: :date_begin -%>
  </dt>
  <dd>
    <%= @weekly.date_begin %>
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">end date</label>
<%= render "shared/attach_errors", key: :date_end -%>
  </dt>
  <dd>
    ???
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">start time</label>
<%= render "shared/attach_errors", key: [:begin_h, :begin_m] -%>
  </dt>
  <dd>
    ???
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label class="required">end time</label>
<%= render "shared/attach_errors", key: [:end_h, :end_m] -%>
  </dt>
  <dd>
    ???
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label>icon</label>
<%= render "shared/attach_errors", key: :icon -%>
  </dt>
  <dd>
    <%= f.text_field :icon, maxlength: 50, style: "width:5em;" %>
  </dd>
  <dd>
    blank <%= "=>" %> <%= Weekly.default_icon.html_safe %>(default)
  </dd>
  <%# --- --- --- --- --- --- --- --- --- --- -%>
  <dt>
    <label>memo</label>
<%= render "shared/attach_errors", key: :memo -%>
  </dt>
  <dd>
    <%= f.text_area :memo, maxlength: 50, style: "width:20em;height:4em;" %>
  </dd>
</dl>
<div>
    <%= submit_tag submit_label %>
</div>
  <% end %>

<p class="desc-required"><label class="required"></label> is required.</p>
<%- end -%>
