<%= render "shared/admin_edit_delete_link", obj: @item, delmes: "Are you sure you want to delete '#{@item.name}'" %>

<div>
  <h1 style="display:inline"><%= @page_title %></h1>
  <%= @item.memo if @item.memo.present? -%>
</div>

<dl>
  <dt>ID</dt>
  <dd><%= @item.id %></dd>

  <dt>group</dt>
  <dd><%= link_to @item.group.name, @item.group %></dd>

  <dt>name</dt>
  <dd><%= @item.name %></dd>

  <dt>memo</dt>
  <dd><%= @item.memo.presence || "(N/A)" %></dd>

  <dt>created at</dt>
  <dd><%= @item.created_at.ymdw_hm %></dd>

  <dt>updated at</dt>
  <dd><%= @item.updated_at.ymdw_hm %></dd>
</dl>
