<h1><%= @page_title %></h1>

<h2 style="margin-bottom: 0px"><span id="calendar-m"><%= @month %></span>, <span id="calendar-y"><%= @year %></span></h2>
<nav><%= nav_prev @year, @month %> <%= nav_next @year, @month %></nav>

<table border="1" class="calendar" id="calendar"></table>

<h2>Reservation(s)</h2>
<%- if @reservations.blank? -%>
no Reservation
<%- else -%>
<table border="1" class="reservations" id="reservations">
  <thead>
    <tr>
      <th class="rid">ID</th>
      <th>icon</th>
      <th>date</th>
      <th>begin</th>
      <th>end</th>
      <th>user</th>
      <th>more...</th>
    </tr>
  </thead>
  <tbody>
    <%- @reservations.each do |r|-%>
    <tr class="reservation" rid="<%= r.id %>" ymd="<%= r.date %>">
      <td class="rid"><%= r.id %></td>
      <td class="icon"><%= r.icon.html_safe %></td>
      <td class="date"><%= r.date %></td>
      <td class="begin"><%= combine_hm r, :begin %></td>
      <td class="end"><%= combine_hm r, :end %></td>
      <td class="user"><%= r.user %></td>
      <td></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
<%- end -%>
