<%- args = { controller: :reservations, action: :new, item_id: @item, date: @date } -%>
<div><%= link_to "reserve at this day", args %></div>
<%- args = { controller: :weeklies, action: :new, item_id: @item, date_begin: @date } -%>
<div><%= link_to "reserve(weekly) from this day", args %></div>
<div><%= link_to @item.name, @item %></div>

<h1 style="display:inline"><%= @page_title %></h1>
<%= @item.memo if @item && @item.memo.present? -%>

<%= render "shared/table_reservations", reservations: @reservations, h2: @date.ymdw %>
