<h1><%= @page_title %></h1>

<h2 style="margin-bottom: 0px"><span id="calendar-m"><%= @month %></span>, <span id="calendar-y"><%= @year %></span></h2>
<nav><%= nav_prev @year, @month %> <%= nav_next @year, @month %></nav>

<table border="1" class="calendar" id="calendar"></table>

<h2>Reservation(s)</h2>
<%- if @reservations.blank? -%>
no Reservation
<%- else -%>
<table border="1" class="reservations" id="reservations">
  <tr>
    <th class="rid">ID</th>
    <th>icon</th>
    <th>date</th>
    <th>begin</th>
    <th>end</th>
    <th>user</th>
    <th>more...</th>
  </tr>
  <%- @reservations.each do |r|-%>
  <tr class="reservation" rid="<%= r.id %>" ymd="<%= r.date %>">
    <td class="rid"><%= r.id %></td>
    <td><%= r.icon.html_safe %></td>
    <td><%= r.date %></td>
    <td><%= combine_hm r, :begin %></td>
    <td><%= combine_hm r, :end %></td>
    <td><%= r.user %></td>
    <td></td>
  </tr>
  <%- end -%>
</table>
<%- end -%>

<pre>
<%= params.inspect %>
<%= @reservations.to_a.inspect %>
</pre>
