<%= link_to "Create new weekly reservation", [:new, :weekly] %>

<h1><%= @page_title %></h1>

<%- weeklies = Weekly.all -%>
<%- if weeklies.empty? -%>
(nothing)
<%- else -%>
  <%- wdays = %W(Sunday Monday Tuesday Wednesday Thursday Friday Saturday) -%>
  <%- wdays.each_with_index do |h2,i| -%>
<h2><%= h2 %></h2>
    <%- a = weeklies.select { |x| x.wday == i } -%>
<ul>
    <%- if a.empty? -%>
  <li style="list-style:none">(nothing)</li>
    <%- else -%>
      <%- a.each do |w| -%>
  <li><%= link_to w.user, w %></li>
        <%- if w.memo.present? -%>
  <ul><li style="list-style:none"><%= w.memo %></li></ul>
        <%- end -%>
      <%- end -%>
    <%- end -%>
</ul>
  <%- end -%>
<%- end -%>
