<h1><%= @page_title %></h1>

<%= link_to "edit",   [:edit, @weekly] %>
<%= link_to "delete", @weekly, method: :delete, confirm: "Are you sure you want to delete reservation? (user: #{@weekly.user})" %>
<%# link_to "revoke the day...", %>

<h2>Properties</h2>
<dl>
  <dt>ID</dt>
  <dd><%= @weekly.id %></dd>

  <dt>Item</dt>
  <dd><%= link_to @weekly.item.name, @weekly.item %></dd>

  <dt>user</dt>
  <dd><%= @weekly.user %></dd>

  <dt>start date</dt>
  <dd><%= @weekly.date_begin %></dd>

  <dt>end date</dt>
  <dd>
  <%- if @weekly.forever? -%>
    (forever)
  <%- else -%>
    <%= @weekly.date_end %>
  <%- end -%>
  </dd>

  <dt>week of day</dt>
  <dd><%= @weekly.date_begin.strftime "%A" %></dd>

  <dt>start time</dt>
  <dd><%= combine_hm @weekly, :begin %></dd>

  <dt>end time</dt>
  <dd><%= combine_hm @weekly, :end %></dd>

  <dt>icon</dt>
  <%- s = @weekly.icon.presence || "(N/A)" -%>
  <dd><%= s.html_safe %></dd>

  <dt>memo</dt>
  <dd><%= @weekly.memo.presence || "(N/A)" %></dd>

  <dt>created at</dt>
  <dd><%= @weekly.created_at %></dd>

  <dt>updated at</dt>
  <dd><%= @weekly.updated_at %></dd>
</dl>

<h2>Revocations</h2>
