<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<%- title = @page_title.presence || "Reservation Calendar" -%>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<hr class="timestamp">
<time class="timestamp"><%= Time.now.strftime "%Y-%m-%d %H:%M" %></time>
</body>
</html>
