<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<%- title = @page_title.presence || "Reservation Calendar" -%>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/header" %>
<%= render "shared/login_header" %>
<section class="main">
<%#= render "shared/errors" %>
<%= render "shared/alert" %>
<%= render "shared/notice" %>
<%= yield %>
</section>

</body>
</html>
