<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<%- title = @page_title.presence || "Reservation Calendar" -%>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<%- if @onload -%>
<body onload="<%= @onload %>">
<%- else -%>
<body>
<%- end -%>

<%= render "shared/header" %>
<%= render "shared/login_header" %>
<div class="main">
<%= render "shared/errormes" %>
<%= render "shared/alert" %>
<%= render "shared/notice" %>
<%= yield %>
</div>

</body>
</html>
