<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<%- title = @page_title.presence || "Reservation Calendar" -%>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="head">
  <section class="left">
    <%= link_to_unless_current "Top", root_path %>
  </section>
  <section class="right">
    <time class="timestamp"><%= Time.now.strftime "%Y-%m-%d %H:%M" %></time>
  </section>
  <section class="reset"></section>
</nav>

<%- if @login_user -%>
<nav class="head2">
  <%- if @login_user.admin? -%>
  <section class="left">
    <%= link_to_unless_current "Admin", admin_root_path %>
  </section>
  <%- end -%>
  <section class="right">
    <span class="login-name"><%= @login_user.name %></span>
    <%- if @login_user.admin? -%>
    <span class="admin">(admin)</span>
    <%- end -%>
    <span><%= link_to "logout", :session, method: :delete, confirm: "logout?" %></span>
  </section>
  <section class="reset"></section>
</nav>
<%- end -%>

<section class="main">
<%- if flash[:alert] -%>
<section class="alert">
  <article><%= flash[:alert] -%></article>
</section>
<%- end -%>

<%= yield %>
</section>

</body>
</html>
